<div class="pageTitle">Contacts</div>
<button class="btn btn-primary pull-right">Add New Contact</button>

</head>
<body ng-controller="BodyController">
    <button ng-click="alert1()">alert1</button>
    <br>
    <button ng-click="alert2()">alert2</button>
    <br>
    <button ng-click="alert3()">alert3</button>
    <br>
    <button ng-click="alert4()">alert4</button>
    <br>
    <button ng-click="alert5()">alert5</button>
    <br>
    <button ng-click="alert6()">alert6</button>
</body>
</html>

<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>City</td>
        <td>Size</td>
    </tr>
    <tr ng-repeat="ap in aps" ng-click="linkToAp('1')">
        <td>{{ap.name}}</td>
        <td>{{ap.city}}</td>
        <td>{{ap.size}}</td>
    </tr>
</table>

<button class="btn btn-primary pull-right">Export</button>