<div class="pageTitle">Companies out of touch</div>
<div class="bs-example">
    <ul>
        <li>Company.....</li>
        <li>Company.....</li>
        <li>Company.....</li>
    </ul>
</div>

<div class="pageTitle">Pipleine</div>
<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>City</td>
        <td>Size</td>
    </tr>
    <tr>
        <td>Wucket-Friesen</td>
        <td>New Anikaside</td>
        <td>712</td>
    </tr>
</table>

<div class="pageTitle">Recent Activity</div>
<ul>
    <li>Activity</li>
    <li>Activity</li>
    <li>Activity</li>
    <li>Activity</li>
    <li>Activity</li>
    <li>Activity</li>
    <li>Activity</li>
</ul>

